<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/bienvenido" routerLinkActive="active text-warning">
        <img src="assets/home.png" alt="Inicio" width="20" height="20" class="me-2">
        Inicio
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/usuario" routerLinkActive="active text-warning">
        <img src="assets/usuarios.png" alt="Inicio" width="20" height="20" class="me-2">
        Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/productos" routerLinkActive="active text-warning">
        <img src="assets/producto.png" alt="Usuarios" width="20" height="20" class="me-2">
        Productos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/categoria" routerLinkActive="active text-warning">
        <img src="assets/categoria.png" alt="Funcionarios" width="20" height="20" class="me-2">
        Categoria
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/vendedor" routerLinkActive="active text-warning">
        <img src="assets/empleado.png" alt="Productos" width="20" height="20" class="me-2">
        Vendedor
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/clientes" routerLinkActive="active text-warning">
        <img src="assets/cliente.png" alt="Clientes" width="20" height="20" class="me-2">
        Clientes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/ventas" routerLinkActive="active text-warning">
        <img src="assets/venta.png" alt="Clientes" width="20" height="20" class="me-2">
        Ventas
      </a>
    </li>
  </ul>
</nav>
